.snakemake/
.tests/integration/.snakemake
.cache/
.java/

genefuse.json
.vscode
.idea

*~
*.pyc
*.swp

venv
RNA_DATA/
DNA_DATA/

alignment/
annotation/
biomarker/
cnv_sv/
fusions/
prealignment/
qc/
snv_indels/

samples.tsv
units.tsv
